.wrapper{
    
    display: flex;
    flex-direction: column;
    align-items: center;

}
.container{
    display: flex;
    padding: 0 var(--defualt-layout-horizontal-spacer);
    max-width: 100%;
    width: var(--default-layout-width);
    margin-top: var(--default-layout-header-height, 60px);

}

.content-layout {
    margin-left: 250px;
    flex: 1;
}